####################################################################
# PRODUCTION SECRETS (DO NOT COMMIT TO GITHUB)
####################################################################

# Database Configurations
DB_ROOT_PASS="rootpassword!"
DB_NAME="moodle"
DB_USER="moodleuser"
DB_PASS="dbpassword!"

# Cache Configurations
REDIS_HOST="lms-redis"
REDIS_PASSWORD="redispassword!"

# Application Configurations
WEBSITE_ADDRESS="192.168.10.77"
PROTOCOL="https://"

# aws s3 backup
S3_BUCKET="s3-bucket-name"
S3_KEEP_LAST="3"
S3_PREFIX="3"

