####################################################################
# PRODUCTION SECRETS (DO NOT COMMIT TO GITHUB)
####################################################################

# Database Configurations
DB_ROOT_PASS="rootpassword!"
DB_NAME="moodle"
DB_USER="moodleuser"
DB_PASS="dbpassword!"

# Application Configurations
WEBSITE_ADDRESS="192.168.10.77"
PROTOCOL="http://"


