####################################################################
# MONITORING SECRETS (DO NOT COMMIT TO GITHUB)
####################################################################

# Grafana admin credentials
GRAFANA_ADMIN_PASSWORD="super_secret_admin_password"

# IP of the App EC2 instance for Prometheus scraping
# This will be automatically injected into prometheus/prometheus.yml
APP_EC2_IP="192.168.10.77"